<%= form_for @secret, url: { action: 'create' } do |f| %>
<div class="form-group">
  <label class="btn btn-primary" for="secret_file">
    <%= f.file_field :file, style: 'display:none' %>
    Choose a File...
  </label>
  <span class='label label-info' id="upload-file-info"></span>
</div>
<div class="form-group">
  <%= f.label :text, '...or type your Secret Message' %>
  <%= f.text_area :text, rows: '10', class: 'form-control' %>
</div>
<p class="lead">
  <%= submit_tag 'Create', class: 'btn btn-lg btn-secondary' %>
</p>
<% end %>
